config MS_RTC
    bool "MS_RTC"
    default n
    help

config RTC_INNER
    select RTC_CLASS
        tristate "Mstar RTC driver"
        depends on MS_RTC
        default n
        help

config RTCPWC_INNER
    select RTC_CLASS
        tristate "Mstar RTCWC driver"
        depends on MS_RTC
        default y
        help
